.ejercicio{
	background-color: #E9FBF9;
}
.solucion{
	font-family:"freesans";
	font-size:14px;
	background-color: #FFFFDC;
}
pre{
	font-family:"freesans";
	font-size:14px;
	background-color: #E9FBF9;
}
h1{
	font-size: 50px;
	text-align: center;
}
h2{
	font-size: 40px;
}
h3{
	font-size: 25px;
}
h4{
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}
textarea{
	font-family:"freesans";
	font-size:14px;
	color:#151504;
	background-color:#FFFFDC;
	width: 99%;
}
.ejercicios li{
	font-weight: bold;
	list-style: none;
}
wbr {
display: inline-block;
}
