a:link{ /*enlace no visitado. "link" es una pseudo-clase*/
	color: blue;
	}
a:visited{ /*enlace visitado.*/
	color: red;
	}
a:active{ /*enlace al hacer click*/
	color: green;
	}
a:hover{ /*enlace con puntero encima*/
	color: yellow;
	}
