#col1{
	float: left;
	width: 32%;
	/*width: 30%;
	border: 1px solid black;*/
	padding: 5px;
	text-align: justify;
}
#col2{
	float: left;
	width: 32%;
	/*width: 30%;
	border: 1px solid black;*/
	padding: 5px;
	text-align: justify;
}
#col3{
	float: left;
	width: 32%;
	/*width: 30%;
	border: 1px solid black;*/
	padding: 5px;
	text-align: justify;
}
